fastapi
uvicorn
motor
celery
redis
python-multipart
python-jose
passlib
argon2-cffi
httpx
beautifulsoup4
pytest
pydantic[email]
pydantic-settings
email-validator
requests
certifi
aiohttp
selenium
webdriver-manager
loguru
pandas
numpy
transformers
langchain-core
groq
python-dotenv
bcrypt
sumy
nltk
apscheduler
